<!DOCTYPE html>

<html>
    {% include 'mockup/base.html' %}

    <body>
    <div class="container">
            <h1>Table of Contents</h1><br>
            <h2>Store Formats</h2>
                <h4>1. Format Type</h4>
                <p>Basemap: Carto Dark Matter (labels below)<br></p>
                <h4>2. Parcel Size</h4>
                <p>Basemap: Carto Dark Matter (labels below)<br></p>
                <h4>3. Sales per Sq Foot</h4>
                <p>Demographics: Transit Ridership by Zip Code <br>
                    Basemap: HERE Day Transit<br></p>
            <h2>Revenue</h2>
                <h4>4. Yearly Sales</h4>
                <p>Demographics: Median Income by Zip Code, Education by Zip Code <br>
                    Basemap: Carto Positron<br></p>
                <h4>5. Predicted vs Actual Sales</h4>
                <p>Demographics: Median Income by Zip Code, Education by Zip Code <br>
                    Basemap: Stamen Toner(labels below)<br></p>
                <h4>6. YoY Sales Growth</h4>
                <p>Basemap: Carto Positron (labels below)<br></p>
                <h4>7. Profit Margin</h4>
                <p>Basemap: Carto Dark Matter (labels below)<br></p>
                <h4>8. Sell-Through Rate</h4>
                <p>Basemap: Carto Dark Matter (labels below)<br></p>
            <h2>Trade Areas</h2>
                <h4>9. Trade Area vs Competitors</h4>
                <p>Carto Analysis Layer: 10 min trade areas
                    Basemap: Stamen Toner<br></p>



    </div>
    </body>
</html>
