<!DOCTYPE html>

<html>
    {% include 'mockup/base.html' %}

    <body>
    <div class="container">
            <h1>Table of Contents</h1><br>
            <h2>Store Formats</h2>
                <h4><a href="/mockup/view1">1. Format Type</a></h4>
                <p>Basemap: Carto Dark Matter (labels below)<br></p>
                <h4><a href="/mockup/view5">2. Parcel Size</a></h4>
                <p>Basemap: Carto Dark Matter (labels below)<br></p>
                <h4><a href="/mockup/view10">3. Sales per Sq Foot</a></h4>
                <p>Demographics: Transit Ridership by Zip Code <br>
                    Basemap: HERE Day Transit<br></p>
            <h2>Revenue</h2>
                <h4><a href="/mockup/view6">4. Yearly Sales</a></h4>
                <p>Demographics: Median Income by Zip Code, Education by Zip Code <br>
                    Basemap: Carto Positron<br></p>
                <h4><a href="/mockup/view2">5. Predicted vs Actual Sales</a></h4>
                <p>Demographics: Median Income by Zip Code, Education by Zip Code <br>
                    Basemap: Stamen Toner(labels below)<br></p>
                <h4><a href="/mockup/view7">6. YoY Sales Growth</a></h4>
                <p>Basemap: Carto Positron (labels below)<br></p>
                <h4><a href="/mockup/view8">7. Profit Margin</a></h4>
                <p>Basemap: Carto Dark Matter (labels below)<br></p>
                <h4><a href="/mockup/view9">8. Sell-Through Rate</a></h4>
                <p>Basemap: Carto Dark Matter (labels below)<br></p>
            <h2>Trade Areas</h2>
                <h4><a href="/mockup/view3">9. Trade Area vs Competitors</h4>
                <p>Carto Analysis Layer: 10 min trade areas <br>
                    Basemap: Stamen Toner<br></p>



    </div>
    </body>
</html>
