<!DOCTYPE html>

<html>
    {% include 'mockup/base.html' %}

    <body>
    <div class="container">
            <h1>Stores by YoY Sales Growth</h1>
            <p><b>Purpose:</b> Display the sales growth of stores across the metro region and identify high-level trends<br>
            <b>Visual Focus:</b> Identify the stores with the highest gross revenue growth <br> <br>
            <b>Insight</b>: Revenue is growing at a much lower rate on the W / S sides of the city and at stores in IN.  </p>


            <iframe width="100%" height="520" frameborder="0" src="https://kdenny.carto.com/builder/bfc7970b-e001-476d-9ebe-83f0698a374e/embed" allowfullscreen webkitallowfullscreen mozallowfullscreen oallowfullscreen msallowfullscreen></iframe>    </body>
</html>
