<!DOCTYPE html>

<html>
    {% include 'mockup/base.html' %}

    <body>
    <div class="container">
            <h1>Stores by Sales per Sq. Foot</h1>
            <p><b>Purpose 1:</b> Assess the sales per square foot of each store, and identify high-level trends with relation to transit ridership <br>
            <b>Visual Focus, layer 1:</b> Identify the stores with the highest density of sales <br> <br>
            <b>Insight</b>: In this example, many of the stores with high sales / sq. foot rates are locatd near transit </p>

<iframe width="100%" height="520" frameborder="0" src="https://kdenny.carto.com/builder/1449a84a-5625-48bb-9ab2-6de4eb4d9038/embed" allowfullscreen webkitallowfullscreen mozallowfullscreen oallowfullscreen msallowfullscreen></iframe>