<!DOCTYPE html>

<html>
    {% include 'mockup/base.html' %}

    <body>
    <div class="container">
            <h1>Stores by Revenue Differential - "Predicted" vs "Actual"</h1>
            <p><b>Purpose 1:</b> Identify 'underperforming' stores to focus on for optimization efforts. <br>
            <p><b>Purpose 2:</b> Identify 'overpeforming' stores to identify best practices from. <br>
            <b>Visual Focus, layer 1:</b> Identify stores that are significantly overperforming <br>
            <b>Visual Focus, layer 2:</b> Identify the stores that are significantly underperforming <br>
            <b>Visual Focus, layer 3 and 4:</b> Identify the zips with highest median income / most educated population. <br> <br>
            <b>Insight</b>: In this example, the stores that are underperforming are located in areas with high levels of education (because of how these datum were estimated :).  </p>

            <iframe width="100%" height="520" frameborder="0" src="https://kdenny.carto.com/builder/0f4336eb-c9a7-4970-a410-f189a96406ce/embed" allowfullscreen webkitallowfullscreen mozallowfullscreen oallowfullscreen msallowfullscreen></iframe>
    </div>
    </body>
</html>
