<!DOCTYPE html>

<html>
    {% include 'mockup/base.html' %}

    <body>
    <div class="container">
            <h1>Stores by Format</h1>
            <p><b>Purpose</b>: High-Level overview of the breakdown of store formats in the metro area <br>
            <b>Visual Focus, layer 1</b>: Whichever formats are filtered <br>
            <b>Visual Focus, layer 2</b>: Stores with the highest revenue
            <br> <br>
            <b>Insight</b>: The highest revenue stores are Supermarkets downtown, and Supercenters in the W suburbs.  </p>

            <iframe width="100%" height="520" frameborder="0" src="https://kdenny.carto.com/builder/27ad1d14-dc2b-11e6-be3f-0ee66e2c9693/embed" allowfullscreen webkitallowfullscreen mozallowfullscreen oallowfullscreen msallowfullscreen></iframe>
    </div>
    </body>
</html>
